# Load Data from Database Using SQL

Many organizations still use relational database management systems (RDBMS) to store data. A relational database is an application that has a collection of tables, and each table has a row-column structure (similar to a spreadsheet). Databases use Structured Query Language (SQL) to do CRUD operations ("Create", "Read", "Update", or "Delete") on the information in a table (called "querying"). Each table in the database has a name, and the columns within a table are called fields. In this lesson, we will learn how to extract data by passing SQL statements to the database to return the information requested.

In [1]:
#library to use dataframes
import pandas as pd

#library to connect & interact with databases
from sqlalchemy import create_engine, inspect

### Connect to Database

An engine connects to the database and allows queries to be passed in and for information to be read from it. Each database application has its own engine statement; other examples can be found in the [SQL Alchemy documentation](https://docs.sqlalchemy.org/en/13/core/engines.html).

In [10]:
#set the database file location to a variable
db_file = 'gradedata.db'

# set the connection to SQLite database in a variable
engine = create_engine(f"sqlite:///{db_file}")
print(engine)

Engine(sqlite:///gradedata.db)

In [11]:
#get a list of all the tables in the database
engine.table_names()

['test']

In [5]:
#check if a table exists
engine.has_table('test')

True

In [6]:
#this is used to look at the schema of elements in a database
inspector = inspect(engine)

In [7]:
print(inspector)

<sqlalchemy.engine.reflection.Inspector object at 0x0000023FF54B7A08>

In [8]:
# get the fields (columns) and their attributes for the table called "test"
#this is a list where each item is a field(column)
print(inspector.get_columns('test'))

[{'name': 'index', 'type': INTEGER(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}, {'name': 'Names', 'type': TEXT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}, {'name': 'Grades', 'type': INTEGER(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}]

In [9]:
#set the table column information to a variable
fields = inspector.get_columns('test')

In [12]:
#put the information into a dataframe for readability
field_names = pd.DataFrame.from_dict(fields)
field_names

     name     type  nullable default autoincrement  primary_key
0   index  INTEGER      True    None          auto            0
1   Names     TEXT      True    None          auto            0
2  Grades  INTEGER      True    None          auto            0

### Collect Data

In many situations, the easiest method of data collection from a database is to get all the rows from a table, then filter the data in Python. However, in some cases (especially when there are millions of rows) it is better to query the database with a specific condition (for example, to get all the rows in a table where the customers live in the state of Maryland) to reduce the load when the data is read in-memory to Jupyter Notebooks. The `pd.read_sql()` function will send a SQL query statement to the database, then return the information collected and put it into a pandas dataframe.

Different database applications may have their own "dialect" of SQL but the general structure is consistent across all styles. Use this **[cheat sheet](http://www.sqltutorial.org/sql-cheat-sheet/)** to learn more SQL statement commands.

In [13]:
#get all the rows from the "test" table in the database
sql = "SELECT * FROM test;"

#the read_sql function takes in the SQL statement for the information requested and the engine (to connect to database)
sales_data_df = pd.read_sql(sql, engine)
sales_data_df

   index    Names  Grades
0      0      Bob      76
1      1  Jessica      95
2      2     Mary      77
3      3     John      78
4      4      Mel      99

In [19]:
#query with conditional
#get all the rows where the student grade is a 76, 77, or 78
sql = 'SELECT * FROM test WHERE Grades > 78 and Grades < 96;'

grades_df = pd.read_sql(sql, engine)
grades_df

   index    Names  Grades
0      1  Jessica      95